/*
.question-container{
    position:absolute;
    top:50%;
    left:35%;
    margin-bottom:50px;
    /*
    align-items: center;
    background-color: blue;
    
}

.question-header{
    text-align: center;
    margin-bottom:50px;
}

.main-question-task{
    display:flex;
    gap:110px;
    width:500px;
    height:40px;
    background-color: red;
    text-align: center;
}



.question-icons{
  justify-content: left;
  gap: 50px;
   cursor: pointer;
}
*/
.main-question{
    position:absolute;
    left:35%;
    top:30%;
    align-items: center;
    background-color: blue;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
.main-question h1{
    text-align:center;
    margin-bottom: 10px;
}

.container-question{
    display: flex;
  background-color: var(--question-color);
    width:500px;
    min-height:50px;
    margin-bottom: 10px;
    border-radius:10px;
}

.icons{
    
    /* background-color: chartreuse; */
    width:100px;
    padding:13px 5px 0px 5px;
    font-size:20px;
    
}
.question{
    width:450px;
    /* background-color:blueviolet; */
    background-color: #e9f2f2;
    border-radius: 5px;
}

#trashicon{
    float:right;
    color:#c40c1b;
}

#penicon{
    color:#0eb517;
}

