.main-Quiz{
    position:absolute;
    left:25%;
    top:20%;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
     height: 400px;
    overflow: hidden;
    overflow-y:scroll ;
    scrollbar-color: red green;
}


#Quiz-btn{
    position:absolute;
    left:25%;
    top:15%;
    align-items: center;
    border:none;
    width:150px;
    height:30px;
    background-color: #47abed;
}

#Quiz-btn:hover{
    background-color:#0796f5;
    cursor:pointer;
}



.Quiz-container{
    display: flex;
    /* background-color: blue; */
    width:800px;
    
    
}

.Quiz-question{
    background-color: var(--question-color);
    width:500px;
    min-height:50px;
    margin-bottom: 10px;
    border-radius:10px;
    box-shadow:10px #f3f5f2;
}

.radio-question{
    /* background-color: chartreuse; */
    display:flex;
    width:300px;
    padding:13px 5px 0px 5px;
    font-size:20px;
    justify-content: space-between;
}

.radio-question .radio-separator{
    
    display:grid;
}

.radio-question .radio-separator input{
    max-width: 20px;
    max-height: 20px;
}

.radio-question .radio-separator input:hover{
    cursor:pointer;
}



